:root {
  --background-color: #121212;
  --surface-color: rgba(255,255,255,0.08);
  --main-text-color: rgba(255,255,255,0.87);
  --disabled-text-color: rgba(255,255,255,0.38);
  --chaos-box-dimension: 50px;
  --main-font-size: 22px;
  --small-font-size: 18px;
  --large-font-size: 40px;
}

body {
  background-color: var(--background-color);
  font-size: var(--main-font-size);
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.calculator-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.calculator {
  background-color:var(--surface-color);
  width: 320px;
  height: 500px;
  border-radius: 30px;
  color: var(--main-text-color);
  margin-top: 30px;
  text-align: center;
  justify-content: space-around;
  padding: 0px 50px 50px 50px;
}

.chaos-counter {
  align-items: center;
}

.chaos-number {
  font-size: var(--large-font-size);
  border: 1px solid var(--main-text-color);
  border-radius: 3px;
  width: var(--chaos-box-dimension);
  height: var(--chaos-box-dimension);
  line-height: var(--chaos-box-dimension);
  text-align: center;
}

button {
  border: none;
  text-decoration: none;
  font-family: sans-serif;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

button:active {
  transform: scale(0.99);
}

.chaos-arrow {
  color: var(--main-text-color);
  font-size: var(--large-font-size);
  background-color: transparent;
  border: none;
}

.chaos-arrow:disabled {
 color: var(--disabled-text-color)
}

.chaos-arrow:hover {
  color: white;
}

.chaos-arrow:disabled:hover {
  color: var(--disabled-text-color)
 }

.probability-stats {
  text-align: center;
  justify-content: space-around;
  align-items: flex-end;
}

.exceptional-stat {
  font-size: var(--main-font-size);
}

.stat-label {
  font-size: var(--small-font-size);
}

.yes-stat {
  font-size: var(--large-font-size);
}

.odds-selector-wrapper {
  align-items: center;
}

#odds-selector {
  width: 65%;
  font-size: var(--main-font-size);
  background-color: var(--background-color);
  color: var(--main-text-color);
  margin: 10px;
}

@media only screen and (max-width: 600px) {
  .calculator {
    padding:  0px 15px 30px 15px;
  }
}
