:root {
  --background-color: #121212;
  --surface-color: rgba(255,255,255,0.08);
  --main-text-color: rgba(255,255,255,0.87);
  --chaos-box-dimension: 50px;
}

body {
  background-color: var(--background-color);
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.calculator-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.calculator {
  background-color:var(--surface-color);
  width: 320px;
  height: 500px;
  border-radius: 30px;
  color: var(--main-text-color);
  margin-top: 30px;
  text-align: center;
  justify-content: space-around;
}

.chaos-counter {
  align-items: center;
}

.chaos-number {
  font-size: 2em;
  border: 1px solid var(--main-text-color);
  border-radius: 3px;
  width: var(--chaos-box-dimension);
  height: var(--chaos-box-dimension);
  line-height: var(--chaos-box-dimension);
  text-align: center;
}

.probability-stats {
  text-align: center;
  justify-content: space-around;
  align-items: flex-end;
}

.yes-stat {
  font-size: 2em;
}